<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDao">

  <resultMap type="board" id="BoardMap">
    <result column="bno" property="no"/>
    <result column="cont" property="contents"/>
    <result column="cdt" property="createDate"/>
    <result column="view" property="viewCount"/>
    <result column="mno" property="writerNo"/>
    <result column="lno" property="lessonNo"/>
    <result column="mno" property="ownerNo"/>
  </resultMap>
  
  <select id="findAll" resultMap="BoardMap">
    select 
      bno, 
      cont, 
      cdt, 
      view
    from board
  </select>
  
  <select id="findByNo" resultMap="BoardMap" parameterType="int">
    select 
      bno, 
      cont, 
      cdt, 
      view, 
      mno, 
      lno
    from board
    where bno=#{value}
  </select>
  
  <insert id="insert" parameterType="Board">
    insert into board(cont,mno,lno) 
    values(#{contents},#{writerNo},#{lessonNo})
  </insert>
  
  <update id="update" parameterType="Board">
  update board set 
    cont=#{contents} 
  where bno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from board 
    where bno=#{value}
  </delete>
</mapper>