<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LessonDao">

  <resultMap type="lesson" id="LessonMap">
    <result column="lno" property="no"/>
    <result column="title" property="title"/>
    <result column="cont" property="contents"/>
    <result column="sdt" property="startDate"/>
    <result column="edt" property="endDate"/>
    <result column="tot_hr" property="totalHours"/>
    <result column="day_hr" property="dayHours"/>
    
  </resultMap>
  <select id="findAll" resultMap="LessonMap">
    select 
	    lno, 
	    title, 
	    sdt, 
	    edt, 
	    tot_hr 
    from lesson
  </select>
  
</mapper>